# --- Python -----------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# --- Виртуальное окружение ----------------------------------------------------
venv/
env/
ENV/
.venv/

# --- Django ------------------------------------------------------------------
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
*.log

# --- Переменные окружения ------------------------------------------------------
.env

# --- IDE -----------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# --- Windows-специфичные файлы ---------------------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# --- macOS-специфичные файлы -------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# --- Linux-специфичные файлы --------------------------------------------------
*~
.directory

# --- Docker --------------------------------------------------------------------
.docker/

# --- Тестирование и покрытие --------------------------------------------------
.coverage
htmlcov/
.pytest_cache/
